/* custom property */
:root {
	--accent-color: #800000;  /* could also be coded #800 */
	--gradient-color: #f6bb73;
}

/* reset */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* default styles */
body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: calc(90% + 0.2vw);
	width: min(80%, 1024px);
	margin: auto;
	line-height: 1.5;
	border: 2px solid var(--accent-color);
}
a:hover, a:focus{
	font-style: italic;
	color: var(--accent-color);
}
h1, h2, h3, p, ul {
	padding: .25em 0;
}
h1 {
	font-size: 150%;
}
h2 {
	font-size: 130%;
	color: var(--accent-color);
}
h3 {
	font-size: 105%;
}
ul {
	margin-left: 2em;
}

/* the styles for the header */
header {
	line-height: 1.2;
	border-bottom: 2px solid var(--accent-color);
	background-image: linear-gradient(
	    30deg, var(--gradient-color) 0%, white 30%, white 65%, var(--gradient-color) 100%);
	& h2 {
		font-size: 175%;
		padding: .5em 0 0 0;
	}
	& h3 {
		font-size: 130%;
		font-style: italic;
		padding-bottom: 1em;
	}
	& img {
		width: clamp(40px, 30%, 80px);
		float: left;
		margin: .75em 1em;
	}
}

/* the styles for the main content */
main {
	display: flex;
	padding: 0 1em 1em;

	& blockquote {
		font-style: italic;
		padding-left: 1em;
	}
	& img {
		border: 4px double var(--accent-color);
		border-radius: 10px;
		width: clamp(40px, 40%, 75px);

	}
}
section {
	flex-basis: 75%;
	padding-left: 1em;
	& img {
		float: right;
		margin: 0 0.75em .25em;
		width: clamp(100px, 66%, 250px);

	}
}
aside {
	flex-basis: 25%;
	padding-left: 1em;

}
/* the styles for the footer */
footer {
	background-color: var(--accent-color);
	& p {
		text-align: center;
		color: white;
		padding: 1em 0;
	}
}
.speaker {
	& h1 {
		color: var(--accent-color);
	}
	& h2 {
		color: black;
	}
	& p {
		padding: .5em 0; 
	}	
}
.featured {
	border-top: 2px solid var(--accent-color);
	border-bottom: 2px solid var(--accent-color);
	padding: .5em 0 1em;
}
/* CSS class */
.large {
	font-size: 125%;
}